.cards {
  display: flex;
  gap: 1rem;
  padding: 1rem;
}

.task1and2-container {
  display: flex;
}

.task1-container,
.task2-container {
  border: 1px solid black;
  border-radius: 1rem;
  padding: 1rem;
  width: 5rem;
}
