/* .nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: #3f51b595;
  border-radius: 1rem;
  word-spacing: 5px;
  width: 76%;
  padding: 2%;
} */

.nav-container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  position: absolute;
  top: 20%;
  left: 20%;
  background-color: #3f51b595;
  border-radius: 1rem;
  word-spacing: 5px;
  width: 76%;
  padding: 2%;
  max-width: calc(100% - 40%); /* Limits width to 76% of the available space */
  max-height: 60vh; /* Limits height to 60% of the viewport height */
  overflow: auto; /* Adds scrollbars if content overflows */
}

.nav-container h3,
.nav-container p,
.nav-container button {
  color: rgba(255, 255, 255, 0.918);
  margin: 10px 0;
}

button {
  align-self: center;
  padding: 10px 20px;
  background-color: #f44336;
  border: 1px solid black;
  border-radius: 1rem;
}
